main {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-block: 24px;
}

main img {
  width: 286px;
  height: 286px;
  object-fit: cover;
}

@media (width <= 26.875em) {
  main img {
    width: 100%;
  }
}